body {
  font-family: 'Arial', sans-serif;
  background: #fffaf2;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4b2e2e;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.container {
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
}

img {
  max-width: 200px;
}
